<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Upload File</title>
</head>
<body class="container">
    <div class="navbar">
        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a> 
        <a href="/upload"  class="active"><i class="fa fa-fw fa-file"></i> Upload File</a> 
        <a href="/contact"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
        <!-- <a href="/login"><i class="fa fa-fw fa-user"></i> Login</a> -->
      </div>
    <div class="form">
        <h1>Upload Files</h1> </h1>
        <br>
        <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data">
            <div>
                <label>Select your profile picture:</label>
                <input type="file" name="upload-file" />
            </div>
            <br>
            <div>
                <input type="submit" name="btn_upload_profile_pic" value="Upload" />
            </div>
        </form>
        <br>
        <form method="POST" action="/upload-multiple-images" enctype="multipart/form-data">
            <div>
                <h2>Upload Multiple Files</h2>
                <div>
                    <span>Select multiple images:</span>
                    <input type="file" name="multiple_images" multiple />
                </div>
            </div>
            <br>
            <div>
                <input type="submit" name="btn_upload_multiple_images" value="Upload" />
            </div>
        </form>
    </div>
</body>
</html>