<div class="navbar">
  <a href="/"><i class="fa fa-fw fa-home"></i> Home</a> 
  <a href="/upload" ><i class="fa fa-fw fa-file"></i> Upload File</a> 
  <a href="/contact" class="active"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
</div>